@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    font-size: 1.1rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5%;
    width: 1080px;
}

.hook {
    grid-area: 1 / 1 / 2 / 2;
    color: hsl(0, 0%, 100%);
    margin: 4rem;
}

.hook p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: .84rem;
    line-height: 1.4rem;
    margin-top: 1.5rem;
    padding-right: 100px;
}

.stats {
    margin-top: 5rem;
    display: flex;
}

.stats-items {
    display: inline-block;
}

.stats-items:nth-child(1), 
.stats-items:nth-child(2) {
    margin-right: 2.8rem;
}

.stats-items:nth-child(3) {
    text-transform: uppercase;
}

.stats h6 {
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: .1rem;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.card-image {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("./images/image-header-desktop.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.card-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(277, 100%, 51%);
    opacity: .6;
    filter: brightness(.5);
}

.hook span {
    color: hsl(277, 64%, 61%);
}

@media only screen and (max-width: 1109px) {
    .card {
        width: 90%;
    }

    main {
        font-size: 1rem;
    }

    .hook p {
        font-size: .74rem;
    }

    .stats {
        margin-top: 4rem;
    }
}


@media only screen and (max-width: 542px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        font-size: .8rem;
        height: 70%
    }

    .hook {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        margin: 3rem 2.5rem 0;
    }

    .hook p {
        padding: .1rem;
        font-size: .90rem;
        line-height: 1.7rem;
    }
    
    .card-image {
        grid-area: 1 / 1 / 2 / 2;
        background-position: top;
    }

    .stats {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .stats-items {
        display: block;
    }
    
    .stats-items:nth-child(1), 
    .stats-items:nth-child(2) {
        margin-bottom: 1.5rem;
        margin-right: 0;
    }

}
